/*********************************************
            ESTILOS PARA TEXTO
 ********************************************/

 .rock-salt-regular {
  font-family: "Rock Salt", cursive;
  font-weight: 400;
  font-style: normal;
}

/*********************************************
          RESETEO 
********************************************/
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rock Salt", cursive;
}

/*********************************************
          ESTILOS PARA BODY
********************************************/
body
{
  width: 100%;
  height: 100vh;
  background-image: url(../Imagenes/simpsonsback.jpg);
  background-repeat: repeat-y;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/*********************************************
          ESTILOS PARA HEADER BARRA NAV
********************************************/
header {
  width: 100%; 
  height: 40px; 
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  align-items: center;
}

.contenedorImagen
{
  width: 130px;
  height: 38px;
  align-content: start;
  align-items: start;
}

.logoNav
{
  margin: 3px 10px;
  width: 60px;
  height: 30px;
}

.navbarPc {
  text-align:end;
  width: 900px;
  box-sizing: content-box;
  
}

.navbarPc ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbarPc ul li {
  display: inline;
  margin-right: 20px;
  position: relative;
}

.navbarPc ul li a {
  
  text-decoration: none;
  color: rgb(187, 200, 7);
  font-size: 23px;
  font-family: "Rock Salt", cursive;
  font-weight: bolder;
  transition: .25s ease-in;
}

.navbarPc ul li::after
{
  content: "";
  height: 2px;
  width: 0%;
  background: rgb(187, 200, 7);
  position: absolute;
  left: 0;
  bottom: 0;
  transition: 0.5s;
}

.navbarPc ul li:hover::after
{
  width: 100%;
}

.navbarPc ul li a:hover
{
  text-shadow: 0px 0px 20px rgb(195, 195, 190);
}

.toggle_btn a
{
  color: rgb(187, 200, 7);
  font-size: 30px;
  font-weight: bolder;
  align-content: center;
  display: none;
  margin-right: 30px;
 
}

.contenedorLog a
{
  color: rgb(187, 200, 7);
  font-size: 30px;
  font-weight: bolder;
  align-content: center;
  margin-right: 30px;
}

/*********************************************
          ESTILOS PARA RESP BARRA NAV
********************************************/

.responsive_navbar
{
  display: none;
  position: absolute;
  right: 3rem;
  top: 40px;
  width: 50vw;
  height: 0;
  background: rgb(0, 0, 0, 0.8);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  text-decoration: none;
  z-index: 289;
}

.open 
{
  height: 210px;
}

.responsive_navbar .li_res
{
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.responsive_navbar .li_res .link_res
{
  text-decoration: none;
  color:rgb(187, 200, 7);
  
}

.responsive_navbar .li_res .link_res:hover
{
  text-decoration: none;
  
}

/*********************************************
          ESTILOS PARA ACORDEON
********************************************/



.contendorEpisodios
{
  position: absolute;
  width: 100vw;
  height: 100vh;
  
}

.accordion {
  position: absolute;
  top: 10%;
  left: 5%;
  width: 450px;
  height: 500px;
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  
}

.accordion-item {
  
  color: rgb(187, 200, 7);
}

.accordion-item:last-child {
  border-bottom: none;
}

.accordion-header {
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  font-weight: bold;
  padding: 10px 20px;
  cursor: pointer;
  width: 200px;
}

.accordion-content {
  display: none;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.8);
}

.accordion-content p {
  margin: 10px 0;
  font-weight: normal;
}

.episode-links
{
  margin: 20px  0;
  display: flex;
  justify-content: space-around;
}

.episode-links a {
  margin: 5px 0;
  font-size: 14px;

  padding: 5px;
  border: 2px solid rgb(187, 200, 7);
  text-decoration: none;
  color: rgb(187, 200, 7) ;
  border-radius: 20px;

}

.episode-links a:hover
{
    font-weight: bolder;
    scale: 1.2;
    color: whitesmoke;
    background-color:rgb(187, 200, 7)  ;
   
}


.iframe-container {
  position:absolute;
  top: 25%;
  right: 10%;
  float: right;
  z-index: 100;
}



  