/*********************************************
            ESTILOS PARA TEXTO
 ********************************************/

.rock-salt-regular {
    font-family: "Rock Salt", cursive;
    font-weight: 400;
    font-style: normal;
}

/*********************************************
            RESETEO 
 ********************************************/
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rock Salt", cursive;
}

/*********************************************
            ESTILOS PARA BODY
 ********************************************/
body
{
    width: 100%;
    height: 100vh;
    background-image: url(../Imagenes/simpsonsback.jpg);
    background-repeat: repeat-y;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}



/*********************************************
        ESTILOS PARA HEADER BARRA NAV
 ********************************************/
header {
    width: 100%; 
    height: 40px; 
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    align-items: center;
}

.contenedorImagen
{
    width: 130px;
    height: 38px;
    align-content: start;
    align-items: start;
}

.logoNav
{
    margin: 3px 10px;
    width: 60px;
    height: 30px;
}

.navbarPc {
    text-align:end;
    width: 900px;
    box-sizing: content-box;
    
}

.navbarPc ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbarPc ul li {
    display: inline;
    margin-right: 20px;
    position: relative;
}

.navbarPc ul li a {
    
    text-decoration: none;
    color: rgb(187, 200, 7);
    font-size: 23px;
    font-family: "Rock Salt", cursive;
    font-weight: bolder;
    transition: .25s ease-in;
}

.navbarPc ul li::after
{
    content: "";
    height: 2px;
    width: 0%;
    background: rgb(187, 200, 7);
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.5s;
}

.navbarPc ul li:hover::after
{
    width: 100%;
}

.navbarPc ul li a:hover
{
    text-shadow: 0px 0px 20px rgb(195, 195, 190);
}

.toggle_btn a
{
    color: rgb(187, 200, 7);
    font-size: 30px;
    font-weight: bolder;
    align-content: center;
    display: none;
    margin-right: 30px;
   
}

.logout
{
    display:none;
}

.contenedorLog a
{
    color: rgb(187, 200, 7);
    font-size: 30px;
    font-weight: bolder;
    align-content: center;
    margin-right: 30px;
}

/*********************************************
            ESTILOS PARA RESP BARRA NAV
 ********************************************/

.responsive_navbar
{
    display: none;
    position: absolute;
    right: 3rem;
    top: 40px;
    width: 50vw;
    height: 0;
    background: rgb(0, 0, 0, 0.8);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    text-decoration: none;
    z-index: 289;
}

.open 
{
    height: 210px;
}

.responsive_navbar .li_res
{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.responsive_navbar .li_res .link_res
{
    text-decoration: none;
    color:rgb(187, 200, 7);
    
}

.responsive_navbar .li_res .link_res:hover
{
    text-decoration: none;
    
}

/*********************************************
        ESTILOS CONTENEDOR PRINCIPAL
 ********************************************/
.contenedorPrincipal 
{
    display: flex;

}



/*********************************************
            ESTILOS PARA MENÚ
 ********************************************/
.contenedorMenu
{
    display: block;
    margin: 40px 20px; 
    color: rgb(187, 200, 7);
    font-size: clamp(18px, 2vw, 24px);
    width: 15vw;
    height: 70vh;
    background: rgba(0, 0, 0, 0.8);
    align-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

.contenedorMenu img
{
    width: 60px;
    height: 40px;
    border-radius: 50%;
    filter: drop-shadow(3px 2px 5px rgb(187, 200, 7));
}

/*********************************************
            ESTILOS PARA MENSAJE
 ********************************************/
.contenedorMensaje
{
    display: flex;
    flex-direction: column;
    margin: 40px 60px; 
    color: rgb(187, 200, 7);
    font-size: 16px;
    width: 80vw;
    height: 70vh;
    background: rgba(0, 0, 0, 0.8);
    align-content: center;
    padding: 20px;
}

.contenedorMenu p
{
    font-size: clamp(12px, 2vw, 16px);
    flex-grow: 1;
}
.contenedorMensaje p::first-letter
{
    font-size: 26px;
    font-weight: bolder;
    color: rgb(132, 17, 226);
}


/*********************************************
            ESTILOS PARA TRIVIA
 ********************************************/
.contenedorTrivia
{
    display: none;
    margin: 40px auto; 
    color: rgb(187, 200, 7);
    font-size: 22px;
    width: 60%;
    height: 70%;
    background: rgba(0, 0, 0, 0.8);
    align-content: center;
    padding: 20px;
    text-align: center;
    position: relative;
    
}

.contenedorTrivia h4
{
    font-size: clamp(14px, 2vw, 30px);
}

.contenedorTrivia button 
{
    cursor: pointer;
    background-color: transparent;
    width: 100px;
    height: 30px;
    border: 2px solid rgb(187, 200, 7);
    border-radius: 15px;
    color: rgb(187, 200, 7);
    overflow: hidden; 
    position: relative; 
    
}

.contenedorTrivia button::before
{
    content: "";
    position: absolute;
    top: 0;
    left: -110%;
    width: 100px;
    height: 30px;
    background-color: rgba(223, 224, 217, 0.4);
    transition: left 1s;
    
}

.contenedorTrivia button:hover::before
{
    left:0;
    
}

.contenedorTrivia button:hover
{
    
    
    font-weight: bold;
    
}

.contenedorTrivia p
{
   padding: 20px;
}

/*********************************************
            ESTILOS PARA LOGIN
 ********************************************/

.contenedorLogin {
    display: none;
    flex-direction: column;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0,0,0,.7); 
    box-shadow: 10px 10px 10px 0 rgb(12, 11, 11);   
    color:rgb(187, 200, 7);
    text-align: center;
    width: 50%;
    height: 85%;
    align-content: center;
    align-items: center;
}

.contenedorLogin h1, .contenedorLogin p
{
   margin:10px 0;
}

.formLogin
{
    display: flex;
    flex-direction: column;
    width: 90%;
    text-align: center;
    align-items: center;
    }

.formLogin label
{
    font-size:20px;
    font-weight: bold;
}

.formLogin input
{   
    margin: 10px 0;
    width: 50%;
    height: 40px;
    padding: 5px;
    font: 24px;
    color: black ;
}

.botones button
{
    cursor: pointer;
    background-color: transparent;
    width: 100px;
    height: 30px;
    border: 2px solid rgb(187, 200, 7);
    border-radius: 15px;
    color: rgb(187, 200, 7);
    overflow: hidden; 
    position: relative; 
}

.botones button::before
{
    content: "";
    position: absolute;
    top: 0;
    left: -110%;
    width: 100px;
    height: 30px;
    background-color: rgba(223, 224, 217, 0.4);
    transition: left 1s;
    
}

.botones button:hover::before
{
    left:0;
    
}

.botones button:hover
{
    font-weight: bold;
}

.botones h4
{
    margin: 10px 0;
}


/*********************************************
            ESTILOS PARA REGISTRO
 ********************************************/

.contenedorRegistro {
    
    display: none;
    flex-direction: column;
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0,0,0,.7); 
    box-shadow: 10px 10px 10px 0 rgb(12, 11, 11);   
    color:rgb(187, 200, 7);
    text-align: center;
    width: 70%;
    height: 75%;
    align-content: center;
    align-items: center;
}

.contenedorRegistro h1
{
   margin:10px 0;
}

.formRegistro
{
    display: flex;
    flex-direction: column;
    width: 90%;
    text-align: center;
    align-content: center;
    align-items: center;
}

.nombre, .email
{
    margin-bottom: 20px;
}

.formRegistro label, .formRegistro input
{
    margin-bottom: 10px;
    margin-left: 10px;
}

.formRegistro input
{
    height: 27px;
    padding: 5px;
    font: 24px;
    color: black ;
}
.formRegistro h3
{
    margin: 10px 0;

}

.seleccionPersonaje, .email
{
    display: flex;
    align-items: center;
}

input[type="checkbox"], input[type="radio"] 
{
    margin-left: 10px;
}

.formRegistro .regBtn
{
    cursor: pointer;
    background-color: transparent;
    width: 120px;
    height: 30px;
    border: 2px solid rgb(187, 200, 7);
    border-radius: 15px;
    color: rgb(187, 200, 7);
    overflow: hidden; 
    position: relative; 
}

.formRegistro .regBtn::before
{
    content: "";
    position: absolute;
    top: 0;
    left: -110%;
    width: 120px;
    height: 30px;
    background-color: rgba(223, 224, 217, 0.4);
    transition: left 1s;
    
}

.formRegistro .regBtn:hover::before
{
    left:0;
    
}

.formRegistro .regBtn:hover
{
    font-weight: bolder;
}

.registro
{
    display: none;
}

/*********************************************
            ESTILOS PARA MEME
 ********************************************/

.contenedorMeme 
{
    position: absolute;
    display: none;
    top: 5%;
    left: 10%;
    width: 80%;
    max-height: calc(100vh - 100px);
    background: rgba(0, 0, 0, 0.7);
    overflow-y: auto;
}

.gridImagenes 
{
    margin: 70px;
    display: grid;
    max-width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(200px, 200px));
    grid-template-rows: repeat(8, 200px);
    gap: 20px;
    grid-auto-flow: dense;
    justify-content: space-evenly;
}

.contenedorMeme::-webkit-scrollbar {
    display: none;
}

.itemImg
{
    width: 150px;
    height: 150px;
}

.gridImagenes img {
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: transform 0.3s, z-index 0.3s;
}

.gridImagenes img:hover {
    transform: scale(1.5);
    z-index: 99;
    position: relative;
    animation: mover-sombra 4s infinite linear alternate;
}

@keyframes mover-sombra {
    0% {
        box-shadow: -10px 0px 10px rgb(187, 200, 7);; 
    }
    50% {
        box-shadow: 10px 0px 10px rgb(187, 200, 7);; 
    }
    100% {
        box-shadow: -10px 0px 10px rgb(187, 200, 7);; 
    }
}

.salir {
    position:fixed; 
    width: 40px;
    height: 50px;
    bottom: 20%; 
    right:13%;
    z-index: 999; 
    background: transparent;
    border: none;
    color: rgb(187, 200, 7);;
    font-size: 40px;
    cursor: pointer;
    text-align: center;
    align-content: center;
    align-items: center;
}

/*********************************************
            ESTILOS PARA GALERÍA
 ********************************************/
 .contenedorGaleria
 {
     position: absolute;
     top: 10%;
     left: 10%;
     width:80vw;
     height: 70vh;
     display: none;
     box-shadow: 40px 40px 24px 21px rgba(0,0,0,0.79);
    -webkit-box-shadow: 40px 40px 24px 21px rgba(0,0,0,0.79);
    -moz-box-shadow: 40px 40px 24px 21px rgba(0,0,0,0.79);
 }
 
 
 .carousel{
     height: 100%;
     width: 100%;
     overflow: hidden;
     position: absolute;
 }
 .carousel .list .item{
     width: 100%;
     height: 100%;
     position: absolute;
     inset: 0 0 0 0;
 }
 .carousel .list .item img{
     width: 100%;
     height: 100%;
     object-fit: cover;
 }
 
 .carousel .list .item .author{
     font-weight: bold;
     letter-spacing: 10px;
 }
 
 
 .carousel .list .item .buttons{
     display: grid;
     grid-template-columns: repeat(2, 130px);
     grid-template-rows: 40px;
     gap: 5px;
     margin-top: 20px;
 }
 .carousel .list .item .buttons button{
     border: none;
     background-color: #eee;
     letter-spacing: 3px;
     font-family: Poppins;
     font-weight: 500;
 }
 .carousel .list .item .buttons button:nth-child(2){
     background-color: transparent;
     border: 1px solid #fff;
     color: #eee;
 }
 
 .thumbnail{
     position: absolute;
     bottom: 20px;
     left: 5%;
     width: max-content;
     z-index: 100;
     display: flex;
     gap: 20px;
 }
 .thumbnail .item{
     width: 50px;
     height: 90px;
     flex-shrink: 0;
     position: relative;
 }
 .thumbnail .item img{
     width: 100%;
     height: 100%;
     object-fit: cover;
     border-radius: 10px;
 }
 .thumbnail .item .content{
     color: #fff;
     position: absolute;
     bottom: 10px;
     left: 10px;
     right: 10px;
 }
 .thumbnail .item .content .title{
     font-weight: 500;
 }
 .thumbnail .item .content .description{
     font-weight: 300;
 }
 
 .arrows{
     position: absolute;
     top: 10%;
     right:5%;
     z-index: 100;
     width: 100px;
     max-width: 30%;
     display: flex;
     gap: 10px;
     align-items: center;
 }
 .arrows button{
     width: 40px;
     height: 40px;
     border-radius: 50%;
     background-color: rgba(0, 0, 0, 0.5);
     border: none;
     color: rgb(187, 200, 7);
     font-family: monospace;
     font-weight: bold;
     transition: .5s;
 }
 .arrows button:hover{
     background-color:rgba(0, 0, 0, 0.8);
     color: rgb(187, 200, 7);
     cursor:pointer;
     scale: 1.5;
 }
 

 .carousel .list .item:nth-child(1){
     z-index: 1;
 }
 

 
 .carousel .list .item:nth-child(1) .content .buttons
 {
     transform: translateY(50px);
     filter: blur(20px);
     opacity: 0;
     animation: showContent .5s 1s linear 1 forwards;
 }
 
 
 .carousel .list .item:nth-child(1) .content .buttons{
     animation-delay: 1.8s!important;
 }
 
 
 .carousel.next .list .item:nth-child(1) img{
     width: 150px;
     height: 220px;
     position: absolute;
     bottom: 50px;
     left: 50%;
     
     animation: showImage .5s linear 1 forwards;
 }
 
 @keyframes showImage{
     to{
         bottom: 0;
         left: 0;
         width: 100%;
         height: 100%;
         border-radius: 0;
     }
 }
 
 .carousel.next .thumbnail .item:nth-last-child(1){
     overflow: hidden;
     animation: showThumbnail .5s linear 1 forwards;
 }
 .carousel.prev .list .item img{
     z-index: 100;
 }
 @keyframes showThumbnail{
     from{
         width: 0;
         opacity: 0;
     }
 }
 .carousel.next .thumbnail{
     animation: effectNext .5s linear 1 forwards;
 }
 
 @keyframes effectNext{
     from{
         transform: translateX(150px);
     }
 }
 

 @keyframes runningTime{
     from{ width: 100%}
     to{width: 0}
 }
 
 
.carousel.prev .list .item:nth-child(2){
     z-index: 2;
 }
 
 .carousel.prev .list .item:nth-child(2) img{
     animation: outFrame 0.5s linear 1 forwards;
     position: absolute;
     bottom: 0;
     left: 0;
 }
 @keyframes outFrame{
     to{
         width: 150px;
         height: 220px;
         bottom: 50px;
         left: 50%;
         
     }
 }
 
 .carousel.prev .thumbnail .item:nth-child(1){
     overflow: hidden;
     opacity: 0;
     animation: showThumbnail .5s linear 1 forwards;
 }
 .carousel.next .arrows button,
 .carousel.prev .arrows button{
     pointer-events: none;
 }
 
 .carousel.prev .list .item:nth-child(2) .content .buttons
 {
     animation: contentOut 1.5s linear 1 forwards!important;
 }
 
 @keyframes contentOut{
     to{
         transform: translateY(-150px);
         filter: blur(20px);
         opacity: 0;
     }
 }

 /*********************************************
            ESTILOS NOSOTROS
 ********************************************/

 .contenedorNosotros

{
    position: relative;
    display: none;  
    color: rgb(187, 200, 7);
       
}

.tituloNosotros
{
    align-content: center;
}
.contenedorNosotros h1
{
    top: 20px;
    text-align: center;
    padding: 5px;
    text-shadow: 0 0 10px rgb(187, 200, 7),
                 0 0 20px rgb(187, 200, 7),
                 0 0 40px rgb(187, 200, 7);
    box-sizing: content-box;
    background-color: rgba(0, 0, 0, 0.7);
    width: 400px;
    margin: 0 auto;
    border-radius: 10px;
}

.nosotrosPrincipal
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.card {
    position: relative;
    width: 220px;
    height: 300px;
    margin: 20px;
}

.card .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}

.card .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
}

.card .front img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .front h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: rgb(187, 200, 7);
    background: rgba(0,0,0,.4);
    text-align: center;
}

.card .back {
    transform: perspective(600px) rotateY(180deg);
    background: rgba(0, 0, 0, 0.7);
    padding: 15px;
    color: rgb(187, 200, 7);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #000;
}

.card .back .link {
    border-top: solid 1px #f3f3f3;
    height: 50px;
    line-height: 50px;
}

.card .back .link a {
    color: rgb(187, 200, 7);
}

.card .back h4 {
    font-size: 24px;
    margin-top: 5px;
    letter-spacing: 2px;
}

.card .back p {
    letter-spacing: 1px;
    font-size: 14px;
} 

.card:hover .front {
    transform: perspective(600px) rotateY(180deg);
}

.card:hover .back {
    transform: perspective(600px) rotateY(360deg);
}

.salirNosBtn
{
    z-index: 999; 
    background: transparent;
    border: none;
    color: rgb(187, 200, 7);;
    font-size: 40px;
    height: 50px;
    width: 50px;
    cursor: pointer;
    text-align: center;
    align-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.7);
}

/*********************************************
            ESTILOS PARA FOOTER
 ********************************************/

footer
{
    position: absolute;
    width: 100%;
    height: 10%;
    background: black;
    display: flex;
    justify-content: center;
    padding: 15px 0;
    bottom: 0;
}

.copy 
{
    margin: 0 50px;
    color:rgb(187, 200, 7) ;
    font-size: clamp(8px, 2vw, 12px);


}

/*********************************************
            ESTILOS RESPONSIVOS 1024PX
 ********************************************/

 
 @media screen and (max-width: 1024px) {
    
    body 
    {
        background-image: url(../Imagenes/background1.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat

    }

    .navbarPc
    {
        display: none;
    }
    
    .navbarPc ul li a 
    {
        display: none;
    }

    .contenedorMenu 
    {
        font-size: 13px;
        width: 90%;
        margin: 40px 30px;
    }
    .contenedorLog a
    {
    
    margin-right: 60px;
    font-size: 18px;
    }

    .toggle_btn a
    {
    display: block;
    font-size: 18px;
    
    }

    .responsive_navbar
    {
    display: block;
    }

    .responsive_navbar  .li_res
    {
    list-style: none;
    position: relative;
    text-decoration: none;
    }

    .contenedorMenu
{
    display: block;
    margin: 40px 20px; 
    color: rgb(187, 200, 7);
    font-size: clamp(18px, 2vw, 24px);
    width: 15vw;
    height: 70vh;
    background: rgba(0, 0, 0, 0.8);
    align-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

.contenedorMensaje p
{
    font-size: 14px;
}
.contenedorMensaje p::first-letter
{
    font-size: 22px;
    font-weight: bolder;
    color: rgb(132, 17, 226);
}
    
    .gridImagenes img 
    {
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: transform 0.3s, z-index 0.3s;
    }

    .gridImagenes img:hover {
    transform: scale(1.5);
    z-index: 99;
    position: relative;
    animation: mover-sombra 4s infinite linear alternate;
    }

@keyframes mover-sombra {
    0% {
        box-shadow: -10px 0px 10px rgb(187, 200, 7);; 
    }
    50% {
        box-shadow: 10px 0px 10px rgb(187, 200, 7);; 
    }
    100% {
        box-shadow: -10px 0px 10px rgb(187, 200, 7);; 
    }
}

.salir {
    position:fixed; 
    width: 40px;
    height: 50px;
    bottom: 15%; 
    right: 15%;
    z-index: 999; 
    background: transparent;
    border: none;
    color: rgb(187, 200, 7);;
    font-size: 40px;
    cursor: pointer;
    text-align: center;
    align-content: center;
    align-items: center;
}

.contenedorLogin {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0,0,0,.7); 
    box-shadow: 10px 10px 10px 0 rgb(12, 11, 11);   
    color:rgb(187, 200, 7);
    text-align: center;
    width: 60%;
    height: 70%;
    align-content: center;
    align-items: center;
}

.contenedorLogin h1, .contenedorLogin p
{
   margin:10px 0;
}

.contenedorLogin h1
{
    font-size: 22px;
}

.formLogin label
{
    font-size:18px;
    font-weight: bold;
}

.formLogin input
{   
    margin: 8px 0;
    width: 50%;
    height: 35px;
    padding: 5px;
    font: 20px;
    color: black ;
}

.carousel .list .item .content{
    padding-right: 0;

}

}

.contenedorNosotros
{
    display: none;
    position:relative;  
    margin-top: 5%;   
    margin-left: 5%;
    color: rgb(187, 200, 7);
    font-size: 16px;
    width: 90%;
    height: 80vh;
 }


 .container {
    display: flex;
    position: absolute;
    top: 20%;
    left: 5%;
    width: 80vw;
    
  }

 
/*********************************************
     ESTILOS RESPONSIVOS DE 480 A 768PX
 ********************************************/

 @media screen and (min-width: 480px) and (max-width: 768px)  {
    
    body 
    {
        background-image: url(../Imagenes/backcel2.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat

    }

    .navbarPc
    {
        display: none;
    }
    
    .navbarPc ul li a 
    {
        display: none;
    }

    .contenedorLog a
    {
    
    margin-right: 60px;
    font-size: 18px;
    }

    .toggle_btn a
    {
    display: block;
    font-size: 18px;
    
    }

    .responsive_navbar
    {
    display: block;
    }

    .responsive_navbar  .li_res
    {
    list-style: none;
    position: relative;
    text-decoration: none;
    }

    .contenedorPrincipal 
    {
        display: inline-block;
        justify-content: center;
    }

    .contenedorMenu 
    {
       
        display: flex;
        flex-direction: row;
        text-align:center;
        justify-content: space-around;
        width: 90vw;
        height: 10vh; 
        margin: 10px 15px;
        font-size: 16px;
    }

    .contenedorMenu img
{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

    .contenedorMenu .item 
    {
        display: inline-block; 
        margin: 0 5px; 
        vertical-align: top; 
    }

    .contenedorMensaje
    {
        margin-top: 15px;
        width: 90vw;
        height: 70vh;
        margin: auto;
        font-size: clamp(12px, 2vw, 14px);
        padding: 20px;
        align-content:start;
    }

    .contenedorMensaje p::first-letter
{
    font-size: 20px;
    font-weight: bolder;
    color: rgb(38, 127, 210);
}

.gridImagenes img {
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: transform 0.3s, z-index 0.3s;
}

.gridImagenes img:hover {
    transform: scale(1.5);
    z-index: 99;
    position: relative;
    animation: mover-sombra 4s infinite linear alternate;
}

@keyframes mover-sombra {
    0% {
        box-shadow: -10px 0px 10px rgb(187, 200, 7);; 
    }
    50% {
        box-shadow: 10px 0px 10px rgb(187, 200, 7);; 
    }
    100% {
        box-shadow: -10px 0px 10px rgb(187, 200, 7);; 
    }
}

    footer {
        padding: 5px 0;
    }

    .copy 
    {
    font-size: clamp(8px, 2vw, 10px);
    margin: 0 5px;
    padding: 1px;
    
    }

    .salir {
        position:fixed; 
        width: 40px;
        height: 50px;
        bottom: 15%; 
        right:10%;
        z-index: 999; 
        background: transparent;
        border: none;
        color: rgb(187, 200, 7);;
        font-size: 40px;
        cursor: pointer;
        text-align: center;
        align-content: center;
        align-items: center;
    }

    .contenedorLogin {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 48%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(0,0,0,.7); 
        box-shadow: 10px 10px 10px 0 rgb(12, 11, 11);   
        color:rgb(187, 200, 7);
        text-align: center;
        width: 90%;
        height: 70%;
        align-content: center;
        align-items: center;
    }

    .contenedorLogin h1
    {
        font-size: 16px;
    }
    
    .contenedorLogin h1, .contenedorLogin p
    {
       margin:10px 0;
    }
    
    .contenedorLogin h1
    {
        font-size: 28px;
    }
    .formLogin label
    {
        font-size:18px;
        font-weight: bold;
    }
    
    .formLogin input
    {   
        margin: 8px 0;
        width: 70%;
        height: 35px;
        padding: 5px;
        font: 20px;
        color: black ;
    }

    .contenedorRegistro {
    
        display: none;
        flex-direction: column;
        position: absolute;
        top:49%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(0,0,0,.7); 
        box-shadow: 10px 10px 10px 0 rgb(12, 11, 11);   
        color:rgb(187, 200, 7);
        text-align: center;
        width: 85%;
        height: 82%;
        justify-content: center;
        align-items: center;
        align-content: start;
        
    }

    .contenedorRegistro h1
    {
        margin:10px 0;
        font-size: 24px;
    }
    
    .contenedorInput input 
    {
        height: 24px;
        font-size: 2opx;
    }

    .contenedorInput label
    {
        font-size: 16px;
    }

    .seleccionPersonaje
    {
        display: block;
        text-align: center;
               
    }
    .seleccionPersonaje h5 {
        width: 100%;
        text-align: center;
        
    }

     
    .seleccionPersonaje .contenedorInput
    {
        display: inline;
        margin-right: 2px;
    }

    .seleccionPersonaje .contenedorInput label
    {
        font-size: 10px;
    }

    .container {
        flex-direction: column;
      }
    
    footer
    {
    position: absolute;
    width: 100%;
    height: 6%;
    background: black;
    display: flex;
    justify-content: center;
    padding: 5px 0;
    bottom: 0;
    }
    .copy
    {
        font-size: 8px;
    }

        
}
    
/*********************************************
            ESTILOS RESPONSIVOS 1PX A 480PX
 ********************************************/

 @media screen and (min-width: 1px)and (max-width: 480px) {

body{
    background-image: url(../Imagenes/backcel4.jpeg);
}

    .contenedorPrincipal
    {
        display: inline-block;
        justify-content: center;
    }
    .contenedorMenu
    {
        width: 90%;
        margin-left: 10%;
    }
    .contenedorMenu img
    {
        width: 20px;
        height: 20px;
        border-radius: 50%;
    }

    .contenedorMensaje
    {
        width: 95vw;
        margin: auto;
        font-size: 10px;
        padding: 2px;
        align-content:start;
        margin-left: 10%;
    }

    .contenedorMensaje p::first-letter
    {
        font-size: 10px;
        color: rgb(41, 210, 38);
        overflow: hidden;
    }

    .copy
    {
        font-size: 5px;
        width: 95%;
    }

    .contenedorTrivia
    {
        width: 85%;
        padding: 5px;
        margin-left: 10%;
    }

    .contenedorTrivia p
    {
        font-size: 14px;
    }

    .contenedorTrivia button
    {
        font-size: 8px;
        width: 50px;
        height: 20px;
    }

    .contenedorMenu 
    {
       
        display: flex;
        flex-direction: row;
        text-align:center;
        justify-content: space-around;
        width: 90vw;
        height: 10vh; 
        margin: 10px 15px;
        font-size: 16px;
    }

    .contenedorMenu img
{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

    .contenedorMenu .item 
    {
        display: inline-block; 
        margin: 0 5px; 
        vertical-align: top; 
    }
    
    .contenedorMensaje
    {
        margin-top: 15px;
        width: 90vw;
        height: 70vh;
        margin: auto;
        font-size: clamp(12px, 2vw, 14px);
        padding: 20px;
        align-content:start;
        overflow-y: hidden;
    }

    .contenedorMensaje p
{
    font-size: 12px;
}
    .contenedorMensaje p::first-letter
{
    font-size: 16px;
    font-weight: bolder;
    color: rgb(38, 127, 210);
}

footer 
{
    height: 5%;
    width: 100%;
    text-align: left;
}



}

