body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffcc00;
    padding: 20px;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

#nueva-discusion textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
}

#nueva-discusion button {
    background-color: #ffcc00;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

#nueva-discusion button:hover {
    background-color: #ff9900;
}
