/*********************************************
            ESTILOS PARA TEXTO
 ********************************************/

 .rock-salt-regular {
    font-family: "Rock Salt", cursive;
    font-weight: 400;
    font-style: normal;
}

/*********************************************
            RESETEO 
 ********************************************/
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rock Salt", cursive;
}

/*********************************************
            ESTILOS PARA BODY
 ********************************************/
body
{
    width: 100%;
    height: 100vh;
    background-image: url(../Imagenes/personajes.jpg);
    background-repeat: repeat-y;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/*********************************************
            ESTILOS PARA HEADER BARRA NAV
 ********************************************/
header {
    width: 100%; 
    height: 40px; 
    background: rgba(0, 0, 0, .7);
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    align-items: center;
}

.contenedorImagen
{
    width: 130px;
    height: 38px;
    align-content: start;
    align-items: start;
}

.logoNav
{
    margin: 3px 10px;
    width: 60px;
    height: 30px;
}

.navbarPc {
    text-align:end;
    width: 900px;
    box-sizing: content-box;
    
}

.navbarPc ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbarPc ul li {
    display: inline;
    margin-right: 20px;
    position: relative;
}

.navbarPc ul li a {
    
    text-decoration: none;
    color: rgb(187, 200, 7);
    font-size: 23px;
    font-family: "Rock Salt", cursive;
    font-weight: bolder;
    transition: .25s ease-in;
}

.navbarPc ul li::after
{
    content: "";
    height: 2px;
    width: 0%;
    background: rgb(187, 200, 7);
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.5s;
}

.navbarPc ul li:hover::after
{
    width: 100%;
}

.navbarPc ul li a:hover
{
    text-shadow: 0px 0px 20px rgb(195, 195, 190);
}

.toggle_btn a
{
    color: rgb(187, 200, 7);
    font-size: 30px;
    font-weight: bolder;
    align-content: center;
    display: none;
    margin-right: 30px;
   
}

.contenedorLog a
{
    color: rgb(187, 200, 7);
    font-size: 30px;
    font-weight: bolder;
    align-content: center;
    margin-right: 30px;
}

/*********************************************
            ESTILOS PARA RESP BARRA NAV
 ********************************************/

.responsive_navbar
{
    display: none;
    position: absolute;
    right: 3rem;
    top: 40px;
    width: 50vw;
    height: 0;
    background: rgb(0, 0, 0, 0.8);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    text-decoration: none;
    z-index: 289;
}

.open 
{
    height: 210px;
}

.responsive_navbar .li_res
{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.responsive_navbar .li_res .link_res
{
    text-decoration: none;
    color:rgb(187, 200, 7);
    
}

.responsive_navbar .li_res .link_res:hover
{
    text-decoration: none;
    
}


/*********************************************
            ESTILOS PARA FOOTER
 ********************************************/

footer
{
    position: absolute;
    width: 100%;
    height: 10%;
    background: black;
    display: flex;
    justify-content: center;
    padding: 15px 0;
    bottom: 0;
}

.copy 
{
    margin: 0 50px;
    color:rgb(187, 200, 7) ;
    font-size: clamp(8px, 2vw, 12px);


}


/*********************************************
    ESTILOS PARA CONTENEDOR PERSONAJES
 ********************************************/

 .contenedorPersonajes
 {
     display: flex;
     position: absolute;
     top: 60px; 
     left: 70px;
     color: rgb(187, 200, 7);
     font-size: clamp(10px,  2vw, 18px);
     width: 90vw;
     height: 90vh;
     background: rgba(0, 0, 0, 0.4);
     align-content: center;
     padding: 20px;
     overflow-y: auto;
 }

 .contenedorItems
 {
    
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    grid-template-rows: auto;
    gap: 10px;
    justify-content: space-around;
    padding: 10px;
    width: 100%;
    height: 100%;    
}

 .contenedorPersonajes::-webkit-scrollbar {
    display: none;
}

 .itemPersonaje
 {
    display: block;
    background: rgba(0, 0, 0, 0.7);
    padding: 5px;
    width: auto;
   

 }

 .itemPersonaje img 
 {
    display: block;
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: auto;
    padding: 10px;
    mix-blend-mode:hard-light;
    filter: drop-shadow(10px 5px 10px rgb(240, 241, 236));
 }

 .itemPersonaje h2
 {
    text-align: center;
 }

 .itemPersonaje p
 {
    font-size: 16px;
    
    
 }


/*********************************************
            ESTILOS RESPONSIVOS 1024PX
 ********************************************/

 
 @media screen and (max-width: 1024px) {
    
    .bodyPersonajes
    {
        background-image: url(Imagenes/backcel3.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat

    }

    .contenedorPersonajes
    {
        display: flex;
        position: absolute;
        top: 70px; 
        left: 20px;
        color: rgb(187, 200, 7);
        font-size: clamp(10px,  2vw, 18px);
        width: 90vw;
        height: 80vh;
        background: rgba(0, 0, 0, 0.4);
        align-content: center;
        padding: 20px;
        overflow-y: auto;
    }

    
  .navbarPc
  {
      display: none;
  }
  
  .navbarPc ul li a 
  {
      display: none;
  }


  .toggle_btn a
  {
  display: block;
  font-size: 18px;
  
  }

  .responsive_navbar
  {
  display: block;
  }

  .responsive_navbar  .li_res
  {
  list-style: none;
  position: relative;
  text-decoration: none;
  }

}

/*********************************************
            ESTILOS RESPONSIVOS 768PX
 ********************************************/

 
 @media screen and (max-width: 768px) {
    
    .bodyPersonajes
    {
        background-image: url(Imagenes/backcel4.jpeg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat

    }

    .contenedorPersonajes
    {
        display: flex;
        position: absolute;
        top: 50px; 
        left: 20px;
        color: rgb(187, 200, 7);
        font-size: clamp(10px,  2vw, 18px);
        width: 90vw;
        height: 80vh;
        background: rgba(0, 0, 0, 0.4);
        align-content: center;
        padding: 20px;
        overflow-y: auto;
    }

    
  .navbarPc
  {
      display: none;
  }
  
  .navbarPc ul li a 
  {
      display: none;
  }

  .toggle_btn a
  {
  display: block;
  font-size: 18px;
  
  }

  .responsive_navbar
  {
  display: block;
  }

  .responsive_navbar  .li_res
  {
  list-style: none;
  position: relative;
  text-decoration: none;
  }
  


}