/*********************************************
            ESTILOS PARA TEXTO
 ********************************************/

.rock-salt-regular {
    font-family: "Rock Salt", cursive;
    font-weight: 400;
    font-style: normal;
}

/*********************************************
            RESETEO 
 ********************************************/
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rock Salt", cursive;
}

/*********************************************
            ESTILOS PARA BODY
 ********************************************/
body
{
    width: 100%;
    height: 100vh;
    background-image: url(Imagenes/simpsonsback.jpg);
    background-repeat: repeat-y;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/*********************************************
            ESTILOS PARA HEADER BARRA NAV
 ********************************************/
header {
    width: 100%; 
    height: 40px; 
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    align-items: center;
}

.contenedorImagen
{
    width: 130px;
    height: 38px;
    align-content: start;
    align-items: start;
}

.logoNav
{
    width: 120px;
    height: 34px;
}

.navbarPc {
    text-align:end;
    width: 900px;
    box-sizing: content-box;
    
}

.navbarPc ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbarPc ul li {
    display: inline;
    margin-right: 20px;
}

.navbarPc ul li a {
    
    text-decoration: none;
    color: rgb(187, 200, 7);
    font-size: 23px;
    font-family: "Rock Salt", cursive;
    font-weight: bolder;
}

.toggle_btn a
{
    color: rgb(187, 200, 7);
    font-size: 30px;
    font-weight: bolder;
    align-content: center;
    display: none;
    margin-right: 30px;
   
}

.contenedorLog a
{
    color: rgb(187, 200, 7);
    font-size: 30px;
    font-weight: bolder;
    align-content: center;
    margin-right: 30px;
}

/*********************************************
            ESTILOS PARA RESP BARRA NAV
 ********************************************/

.responsive_navbar
{
    display: none;
    position: absolute;
    right: 3rem;
    top: 40px;
    width: 50vw;
    height: 0;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    text-decoration: none;
}

.open 
{
    height: 210px;
}

.responsive_navbar .li_res
{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.responsive_navbar .li_res .link_res
{
    text-decoration: none;
    color:rgb(187, 200, 7);
    
}

.responsive_navbar .li_res .link_res:hover
{
    text-decoration: none;
    
    
}

/*********************************************
            ESTILOS PARA MAIN
 ********************************************/



main
{
    display: flex;
}

/***Estilos Contenedor Menú ***/
.contenedorMenu
{
    display: block;
    margin: 40px 20px; 
    color: rgb(187, 200, 7);
    font-size: clamp(18px, 2vw, 24px);
    width: 15vw;
    height: 70vh;
    background: rgba(0, 0, 0, 0.8);
    align-content: center;
    align-items: center;
    text-align: center;
}

.contenedorMenu img
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
/***Estilos Contenedor Mensaje ***/
.contenedorMensaje
{
    display: block;
    margin: 40px 70px; 
    color: rgb(187, 200, 7);
    font-size: clamp(10px,  2vw, 18px);
    width: 80vw;
    height: 70vh;
    background: rgba(0, 0, 0, 0.8);
    align-content: center;
    padding: 20px;
}

.contenedorMensaje p::first-letter
{
    font-size: 30px;
    font-weight: bolder;
    color: rgb(132, 17, 226);
}

/***Estilos Contenedor Trivia ***/
.contenedorTrivia
{
    display: none;
    margin: 40px auto; 
    color: rgb(187, 200, 7);
    font-size: 22px;
    width: 60%;
    height: 70%;
    background: rgba(0, 0, 0, 0.8);
    align-content: center;
    padding: 20px;
    text-align: center;
    position: relative;
    
}

.contenedorTrivia h4
{
    font-size: clamp(14px, 2vw, 30px);
}

.contenedorTrivia button 
{
    cursor: pointer;
    background-color: transparent;
    width: 100px;
    height: 30px;
    border: 2px solid rgb(187, 200, 7);
    border-radius: 15px;
    color: rgb(187, 200, 7);
    overflow: hidden; 
    position: relative; 
    
}

.contenedorTrivia button::before
{
    content: "";
    position: absolute;
    top: 0;
    left: -110%;
    width: 100px;
    height: 30px;
    background-color: rgba(223, 224, 217, 0.4);
    transition: left 1s;
    
}

.contenedorTrivia button:hover::before
{
    left:0;
    
}

.contenedorTrivia button:hover
{
    
    
    font-weight: bold;
    
}

.contenedorTrivia p
{
   padding: 20px;
}

/***Estilos Contenedor Login ***/

.contenedorLogin {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0,0,0,.7); 
    box-shadow: 10px 10px 10px 0 rgb(12, 11, 11);   
    color:rgb(187, 200, 7);
    text-align: center;
    width: 50%;
    height: 80%;
    align-content: center;
    align-items: center;
}

.contenedorLogin h1, .contenedorLogin p
{
   margin:20px 0;
}

.formLogin
{
    display: flex;
    flex-direction: column;
    width: 90%;
    text-align: center;
    align-items: center;
    }

.formLogin label
{
    font-size: 20px;
    font-weight: bold;
}

.formLogin input
{   
    margin: 10px 0;
    width: 50%;
    height: 40px;
    padding: 5px;
    font: 24px;
    color: black ;
}

.botones button
{
    cursor: pointer;
    background-color: transparent;
    width: 100px;
    height: 30px;
    border: 2px solid rgb(187, 200, 7);
    border-radius: 15px;
    color: rgb(187, 200, 7);
    overflow: hidden; 
    position: relative; 
}

.botones button::before
{
    content: "";
    position: absolute;
    top: 0;
    left: -110%;
    width: 100px;
    height: 30px;
    background-color: rgba(223, 224, 217, 0.4);
    transition: left 1s;
    
}

.botones button:hover::before
{
    left:0;
    
}

.botones button:hover
{
    font-weight: bold;
}

.botones h4
{
    margin: 20px 0;
}
/***Estilos Contenedor Registro ***/
.contenedorRegistro {
    
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0,0,0,.7); 
    box-shadow: 10px 10px 10px 0 rgb(12, 11, 11);   
    color:rgb(187, 200, 7);
    text-align: center;
    width: 50%;
    height: 85%;
    align-content: center;
    align-items: center;
}

.contenedorRegistro h1
{
   margin:20px 0;
}

.formRegistro
{
    display: flex;
    flex-direction: column;
    width: 90%;
    text-align: center;
    align-content: center;
    align-items: center;
}

.nombre, .email
{
    margin-bottom: 20px;
}

.formRegistro label, .formRegistro input
{
    margin-bottom: 10px;
    margin-left: 10px;
}

.formRegistro input
{
    height: 30px;
    padding: 5px;
    font: 24px;
    color: black ;
}
.formRegistro h3
{
    margin: 10px 0;
}

.seleccionPersonaje, .email
{
    display: flex;
    align-items: center;
}

input[type="checkbox"], input[type="radio"] 
{
    margin-left: 10px;
}

.formRegistro .btnReg
{
    cursor: pointer;
    background-color: transparent;
    width: 120px;
    height: 30px;
    border: 2px solid rgb(187, 200, 7);
    border-radius: 15px;
    color: rgb(187, 200, 7);
    overflow: hidden; 
    position: relative; 
}

.formRegistro .btnReg::before
{
    content: "";
    position: absolute;
    top: 0;
    left: -110%;
    width: 120px;
    height: 30px;
    background-color: rgba(223, 224, 217, 0.4);
    transition: left 1s;
    
}

.formRegistro .btnReg:hover::before
{
    left:0;
    
}

.formRegistro .btnReg:hover
{
    font-weight: bolder;
}

.registro
{
    display: none;
}

/***Estilos Contenedor Meme ***/

.contenedorMeme 
{
    position: absolute;
    display: none;
    top: 10%;
    left: 10%;
    width: 80%;
    max-height: calc(100vh - 150px);
    background: rgba(0, 0, 0, 0.7);
    overflow-y: auto;
}

.gridImagenes 
{
    margin: 70px;
    display: grid;
    max-width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(200px, 200px));
    grid-template-rows: repeat(8, 200px);
    gap: 20px;
    grid-auto-flow: dense;
    justify-content: space-evenly;
}

.contenedorMeme::-webkit-scrollbar {
    display: none;
}

.itemImg
{
    width: 150px;
    height: 150px;
}

.gridImagenes img {
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: transform 0.3s, z-index 0.3s;
}

.gridImagenes img:hover {
    transform: scale(1.5);
    z-index: 99;
    position: relative;
    animation: mover-sombra 4s infinite linear alternate;
}

@keyframes mover-sombra {
    0% {
        box-shadow: -10px 0px 10px rgb(187, 200, 7);; 
    }
    50% {
        box-shadow: 10px 0px 10px rgb(187, 200, 7);; 
    }
    100% {
        box-shadow: -10px 0px 10px rgb(187, 200, 7);; 
    }
}

.salir {
    position:fixed; 
    width: 40px;
    height: 50px;
    bottom: 15%; 
    right:13%;
    z-index: 999; 
    background: transparent;
    border: none;
    color: rgb(187, 200, 7);;
    font-size: 40px;
    cursor: pointer;
    text-align: center;
    align-content: center;
    align-items: center;
}
/*********************************************
            ESTILOS PARA FOOTER
 ********************************************/

footer
{
    position: absolute;
    width: 100%;
    height: 10%;
    background: black;
    display: flex;
    justify-content: center;
    padding: 15px 0;
    bottom: 0;
}

.copy 
{
    margin: 0 50px;
    color:rgb(187, 200, 7) ;
    font-size: clamp(8px, 2vw, 12px);


}

/*********************************************
            ESTILOS RESPONSIVOS 900PX
 ********************************************/

 
 @media screen and (max-width: 900px) {
    
    body 
    {
        background-image: url(Imagenes/backcel3.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat

    }

    .navbarPc
    {
        display: none;
    }
    
    .navbarPc ul li a 
    {
        display: none;
    }

    .contenedorLog a
    {
    
    margin-right: 60px;
    font-size: 18px;
    }

    .toggle_btn a
    {
    display: block;
    font-size: 18px;
    
    }

    .responsive_navbar
    {
    display: block;
    }

    .responsive_navbar  .li_res
    {
    list-style: none;
    position: relative;
    text-decoration: none;
    }

    
.gridImagenes img {
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: transform 0.3s, z-index 0.3s;
}

.gridImagenes img:hover {
    transform: scale(1.5);
    z-index: 99;
    position: relative;
    animation: mover-sombra 4s infinite linear alternate;
}

@keyframes mover-sombra {
    0% {
        box-shadow: -10px 0px 10px rgb(187, 200, 7);; 
    }
    50% {
        box-shadow: 10px 0px 10px rgb(187, 200, 7);; 
    }
    100% {
        box-shadow: -10px 0px 10px rgb(187, 200, 7);; 
    }
}

.salir {
    position:fixed; 
    width: 40px;
    height: 50px;
    bottom: 15%; 
    right: 15%;
    z-index: 999; 
    background: transparent;
    border: none;
    color: rgb(187, 200, 7);;
    font-size: 40px;
    cursor: pointer;
    text-align: center;
    align-content: center;
    align-items: center;
}

}

/*********************************************
            ESTILOS RESPONSIVOS 600PX
 ********************************************/

 @media screen and (max-width: 600px) {
    
    body 
    {
        background-image: url(Imagenes/backcel2.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat

    }

    .navbarPc
    {
        display: none;
    }
    
    .navbarPc ul li a 
    {
        display: none;
    }

    .contenedorLog a
    {
    
    margin-right: 60px;
    font-size: 18px;
    }

    .toggle_btn a
    {
    display: block;
    font-size: 18px;
    
    }

    .responsive_navbar
    {
    display: block;
    }

    .responsive_navbar  .li_res
    {
    list-style: none;
    position: relative;
    text-decoration: none;
    }

    main 
    {
        display: inline-block;
        justify-content: center;
    }

    .contenedorMenu 
    {
       
        display: flex;
        flex-direction: row;
        text-align:center;
        justify-content: space-around;
        width: 90vw;
        height: 10vh; 
        margin: 10px 15px;
        font-size: clamp(14px, 50%, 22px);
    }

    .contenedorMenu img
{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

    .contenedorMenu .item 
    {
        display: inline-block; 
        margin: 0 5px; 
        vertical-align: top; 
    }

    .contenedorMensaje
    {
        margin-top: 15px;
        width: 90vw;
        height: 70vh;
        margin: auto;
        font-size: clamp(12px, 2vw, 14px);
        padding: 20px;
        align-content:start;
    }

    .contenedorMensaje p::first-letter
{
    font-size: 20px;
    font-weight: bolder;
    color: rgb(38, 127, 210);
}

.contenedorTrivia
{
    display: none;
    margin: 40px auto; 
    color: rgb(187, 200, 7);
    font-size: 22px;
    width: 90%;
    height: 70%;
    background: rgba(0, 0, 0, 0.8);
    align-content: center;
    padding: 20px;
    text-align: center;
}

.contenedorTrivia p
{
   padding: 10px;
   font-size: 16px;
}

.gridImagenes img {
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: transform 0.3s, z-index 0.3s;
}

.gridImagenes img:hover {
    transform: scale(1.5);
    z-index: 99;
    position: relative;
    animation: mover-sombra 4s infinite linear alternate;
}

@keyframes mover-sombra {
    0% {
        box-shadow: -10px 0px 10px rgb(187, 200, 7);; 
    }
    50% {
        box-shadow: 10px 0px 10px rgb(187, 200, 7);; 
    }
    100% {
        box-shadow: -10px 0px 10px rgb(187, 200, 7);; 
    }
}

    footer {
        padding: 5px 0;
    }

    .copy 
    {
    font-size: clamp(8px, 2vw, 10px);
    margin: 0 5px;
    padding: 1px;
    
    }

    .salir {
        position:fixed; 
        width: 40px;
        height: 50px;
        bottom: 15%; 
        right:10%;
        z-index: 999; 
        background: transparent;
        border: none;
        color: rgb(187, 200, 7);;
        font-size: 40px;
        cursor: pointer;
        text-align: center;
        align-content: center;
        align-items: center;
    }


}

/* Estilo Tarjetas de Personajes */
.card {
    width: 18rem;
    height: 30rem; 
    color: rgb(0, 0, 0);
}
.card-img-top {
    height: 180px; 
    object-fit: cover; 
}
.card-text {
    overflow-y: auto; 
    max-height: 200px; 
    font-family: "Rock Salt", cursive; 
    font-weight: 400;
    font-style: normal; 
}
.row {
    margin-bottom: 30px; 
}

/* Estilo Acordion de Episodios*/
.accordion {
    max-width: 900px; 
    margin: 0 auto; 
    background-color: rgba(0, 0, 0, 0.7);
}

.accordion-button {
    width: 100%;
}

.accordion-body {
    width: 100%;
    font-family: "Rock Salt", cursive; 
    color: rgb(187, 200, 7);
    font-weight: 400; 
    font-style: normal; 
}

/* Estilos para el formulario de contacto */
.contact-form-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px; 
    padding: 20px; 
    background-color: #f9f9f9; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    font-family: "Rock Salt", cursive; 
}

.contact-form label {
    display: block;
    margin-bottom: 15px; 
}

.contact-form input {
    width: 100%; 
    padding: 8px; 
    margin-bottom: 15px; 
    font-family: "Rock Salt", cursive;
}

.contact-form .radio-container {
    display: flex;
    align-items: center;
}

.contact-form input[type="radio"] {
    margin-right: 10px; 
}

.contact-form input[type="radio"] + label {
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form input[type="radio"]:checked + label {
    background-color: #eaeaea; 
}

/* Animación de botón Enviar en pagina de Contacto */

.submit-button {
    position:relative;
    width: calc(100%);
    padding: 15px;  
    background-color: #f2ff00; 
    border: none; 
    cursor: pointer; 
    font-family: "Rock Salt", cursive; 
}

.submit-button span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: black;
    background-color: transparent;
    border: 2px solid black;
    transition: opacity 0.3s;
    display: flex; 
    justify-content: center;
    align-items: center;
    box-sizing: border-box; 
}

.submit-button:hover {
    background-color: #b37d00; 
} 

.submit-button .hover-text {
    opacity: 0;
}

.submit-button:hover .hover-text {
    opacity: 1;
}

.submit-button:hover .button-text {
    opacity: 0;
}

/* Página de Contacto, estilo footer */
.redsocial-icons {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.redsocial-icons li {
    display: inline;
    margin-right: 10px; 
}

.redsocial-icons li:last-child {
    margin-right: 0; 
}

.redsocial-icons img {
    width: 30px; 
    height: auto; 
}

